[data-radio-select-container] {
    min-width: 200px;
	width: fit-content;
    position: relative;
    font-family: inherit;
}

[data-radio-select-container] [data-radio-select-toggle] {
    border-top: 1px solid #cccccc80;
    border-bottom: 1px solid #00000040;
}

[data-radio-select-container] [data-radio-select-options] {
	background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #ffffff40;
    border-top: 1px solid #00000040;
    padding-bottom: 5px;
    box-shadow: 0 0 5px #00000040 inset;
	max-height: 120px;
    overflow-y: auto;
	position: absolute;
	pointer-events: none;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform .3s;
    width: 100%;
    z-index: 1;
}

[data-radio-select-container][aria-expanded="true"] [data-radio-select-options] {
	pointer-events: all;
	transform: scaleY(1);
	transition: transform .3s;
}

[data-radio-select-container] [data-radio-select-options] .option {
	position: relative;
}

[data-radio-select-container] [data-radio-select-label] {
	padding: 5px 10px;
    display: flex;
    align-items: center;
}

[data-radio-select-container] [data-radio-select-label] .icon {
	margin-right: 5px;
}

[data-radio-select-container] [data-radio-select-label] .multiple-item {
    display: flex; 
    background-color: rgb(100, 149, 237);
    color: #ffffff;
    margin-right: 5px;
}

[data-radio-select-container] [data-radio-select-options] .option input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

[data-radio-select-container] [data-radio-select-options] .placeholder {
    display: none;
}

